
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
header h1 {
    font-size: 40px;
    color: white;
}
header nav {
    display: flex;
    gap: 30px;
}
header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}
header nav a.active {
    background: #5247B9;
}
header nav a:hover {
    background: #5247B9;
}
header nav:hover > a:not(:hover) {
    background: none;
}

.home {
    display: flex;
    height: 100vh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    will-change: transform;
    animation: parallax-title  5s linear;
}



.mount2 {
    animation: parallax-mount2 5s  linear;
}

@keyframes parallax-mount2 {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -100px, 0);
    }
}

.mount1 {
    animation: parallax-mount1 5s  linear;
}

@keyframes parallax-mount1 {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -110px, 0);
    }
}

.bush2 {
    animation: parallax-bush2 5s  linear;
}

@keyframes parallax-bush2 {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -100px, 0);
    }
}

.leaf1 {
    animation: parallax-leaf1 5s  linear;
}

@keyframes parallax-leaf1 {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100px, 0, 0);
    }
}

.leaf2 {
    animation: parallax-leaf2 5s  linear;
}

@keyframes parallax-leaf2 {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(100px, 0, 0);
    }
}

.about {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}
.about h1 {
    font-size: 40px;
}
.about p{
    font-size: 23px;
}
